@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald:400,600');

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.portada {
    background-image: url('../images/fondo.jpg');

    margin-top: 24px;
    
}